.home-sidebar-container {
	grid-area: sidebar;
}
.item2 {
	grid-area: main;
}

.home-page-container {
    display: grid;
    grid-template-areas:
    'sidebar main'
    'sidebar main'
    'sidebar main';
    grid-template-columns: 450px auto;
    max-height: 100vh;
    box-sizing: border-box;
}

.home-page-container > div {
	background-color: white;
	/* outline: 1px solid blue; */
	font-size: 30px;
}

/* Mini Sidebar Container */
.mini-idea-container {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin: 10px 0px;
    max-height: 80vh;
    overflow: scroll;
    padding: 20px 0px;
    width: 450;
    

}

.home-page-container > .home-main-content-container {
    background-color: #F0F0F0;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.home-main-content {
    padding: 1em;
    margin: 1em;
    background-color: white;
    border-radius: 10px;
    text-align: start;
    width: 95%;
    overflow: scroll;
}

.home-main-content > h2 {
	color: #ff6584;
	font-weight: 400;
}

.home-main-content > h3 {
    color: #FF6584;
    margin: 0px;
    font-size: 36px;
}
.home-sidebar-container > h3 {
    color: #FF6584;
    font-size: 36px;
}

.home-main-content > hr,
.home-sidebar-container > hr {
	border: 1px solid #ff6584;
	width: 330px;
}

.home-main-content > p {
    font-size: 26px;
}

.home-sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /* margin-top: 50px;
    box-sizing: border-box; */
}

/* Bookmarked Ideas Container */
.bookmark-card-container {
	display: flex;
	gap: 50px;
	padding: 1em;
	margin: 20px 0px 40px 0px;
	overflow: scroll;
	outline: 2px solid #ff6584;
	border-radius: 10px;
}

.bookmark-card-container > *,
.bookmark-main-container > * {
	min-width: 450px;
	max-width: 450px;
}

.bookmark-main-container {
	display: flex;
	gap: 50px;
}

.home-main-content-container {
	width: auto;
}

.recent-post-container {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}



@media screen and (max-width: 1500px) {
    .home-page-container {
        grid-template-columns: 450px auto;
    }
}

@media screen and (max-width: 1200px) {
    .home-page-container {
        grid-template-columns: 350px auto;
    }
}


@media screen and (max-width: 700px) {

}


/* @media screen and (max-width: 1300px) {
    .home-main-content > p {
        font-size: 20px;
    }

    .home-page-container {
        outline: 1px solid red;
    }

}
 */
