/* Universal Styles (For All Screens) */
.login-page {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #aca7ff;
}

.login-container {
	background-color: white;
	display: flex;
	align-items: center;
	gap: 30px;
	border-radius: 20px;
}

.login-image {
	width: 500px;
	height: 375.26px;
	margin: auto;
	padding: 0em;
}

/* Desktop View (1051+) Styles */
@media screen and (max-width: 1030px) {
	.login-container {
		width: 800px;
	}
	.login-image {
		width: 400px;
		height: 275px;
	}
} 

/* Larger Screens (Laptop/Tablet) Styles */
@media screen and (max-width: 830px) {
	.login-container {
		flex-direction: column;
		width: auto;
		height: auto;
	}

	.login-image {
		width: 350px;
		height: 250px;
		padding: 1em;
	}
	.cl-internal-qk5yrq {
		border-radius: 10px 10px 0px 0px;
	}
} 

/* Phone Screen Styles */
@media screen and (max-width: 450px) {
	.login-container {
		height: 90%;
		overflow: scroll;
	}
	
	.login-page {
		overflow: scroll;
	}

	.login-image {
		width: 300px;
		height: 230px;	
		padding: 1em;
	}
}
