.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    overflow: auto;
    scroll-behavior: smooth;

}

.modal-content {
    max-height: 90vh;
    background-color: #fefefe; /* white background */
    padding: 20px;
    border: 1px solid #888;
    max-width: 80%; /* maximum width of the modal */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* shadow effect */
    text-align: center; /* center content inside modal */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    margin-top: 0;
    color: #333;
}

  /* Example additional styles for modal content */
.modal-content p {
    margin-bottom: 15px;
    line-height: 1.5;
}

.modal-content img {
    max-width: 100%;
    height: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
.modal-content {
    width: 90%;
    }
}

@media (max-width: 480px) {
.modal-content {
    width: 95%;
}
}

/* Delete all code above to show as  */

.idea-modal-content {
    background-color: white;
    width: 1000px;
    border-radius: 10px;
    overflow: scroll;
    scrollbar-width: smooth;
    max-height: 95vh;
    
}
.view-idea-container {
    margin: 15px;
    padding: 1em;
}

/* Header Styles */
.view-idea-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-idea-header > img {
    height: 50px;
    width: 50px;
}

.view-idea-header > h2 {
    margin: 0px;
    font-size: 40px;
    font-weight: 350;
}

.edit-idea-title {
    width: 85%;
    font-size: 40px;
    border: 1px solid #C0C0C0;
}

.edit-idea-description:focus, input:focus {
    outline: 2px solid #FF6584;
}


.edit-idea-description {
    width: 95%;
    max-width: 95%;
    font-size: 20px;
    padding: 1em;
    border: 1px solid #C0C0C0;
    min-height: 10em;
    max-height: 20em;
    resize: vertical; /* Allow vertical resizing */
}




hr {
    margin: 15px 0px;
}

/* Main Content Styles */
.view-idea-container > h3 {
    margin: 20px 0px;
    color: #FF6584;
    font-size: 30px;
    font-weight: 300;
}

.view-idea-container > p {
    text-align: start;
    line-height: 1.5;
}

.view-idea-footer {
    background-color: #F5F2F2;
    border-top: 1px solid #C0C0C0;
    border-radius: 0px 0px 10px 10px;
}

/* Button Styling */
.button-container {
    display: flex;
    justify-content: flex-end;
}

.button-container > button, .add-item-container > button {
    padding: 1em;
    background-color: #FF6584;
    color: white;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 20px;
    font-weight: 500;

}

.add-item-container > button {
    width: 100px;
}

.remove-icon {
    width: 40px;
    height: 40px;
}

.feature-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
}


text-area {
    max-width: 100%;
}

.add-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.add-item-container > h3 {
    color: #FF6584;
}


.add-item-container > input {
    width: 70%;
}



select {
    padding: 1em;
    font-size: 20px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '';
}
