/* Modal Container (holds all modal items) */
.add-idea-content {
    width: 965px;
    height: 880px;
    gap: 15px;
    display: flex;
    background-color: #fefefe; /* white background */
    padding: 2em;
    border: 1px solid #888;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* shadow effect */
    justify-content: flex-start;
    text-align: start;
    gap: 60px;
}

.add-idea-content > img {
    height: 484px;
    width: 539px;
    margin: auto;
}


.add-idea-info-container > h2 {
    font-size: 30px;
    width: 450px;
}

#add-idea-dropdown {
    width: 250px;
    background-color: #6C63FF;
    height: 50px;
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px 20px;
    color: white;
    border-radius: 10px;
    
}


.add-feature-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.add-feature-buttons > button, .add-feature-buttons > button {
    padding: 1em;
    width: 120px;
    font-size: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6C63FF;
    border: 1px solid #6C63FF;
    background-color: transparent;
    border-radius: 10px;

}

.add-feature-buttons {
    display: flex;
    justify-content: flex-start;
}

.add-item-container {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
}

