/* Modal Container (holds all modal items) */
.ideation-add-project {
    width: 965px;
    height: 850px;
    gap: 15px;
    display: flex;
    background-color: #fefefe;
    padding: 2em;
    border: 1px solid #888;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: scroll;
}

.ideation-feature-user-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 50%;
}


.ideation-feature-user-info > h2 {
    font-size: 30px;
}

.ideation-feature-user-info > input {
    width: 450px;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid rgb(118, 118, 118);
    font-size: 20px;
}

.add-idea-container {
    display: flex;
}

/* Input Modifications */
.user-idea-info {
    width: 450px;
}

.idea-description-info {
    min-height: 100px;
    border: none;
    outline: 1px solid #fefefe;

}
.add-item-container > textarea {
    font-size: 20px;
}

/* Button styling */
.add-feature-buttons {
    padding: 1em;
    display: flex;
    gap: 30px;
    flex-direction: row;
}

.add-feature-buttons > button {
    width: 200px;
    font-size: 20px;
    padding: 0.5em;
    border-radius: 10px;
    border: 2px solid #6C63FF;
    background-color: white;
}

.add-ideas-image {
    width: 400px;
    height: 400px;
    margin: auto;
}
