.idea-card {
	width: 400px;
	display: flex;
	flex-direction: column;
	outline: 1px solid #c0c0c0;
	border-radius: 10px;
}

.idea-card > * {
	padding: 0 0.5em;
}

.idea-header {
	background-color: #f5f2f2;
	outline: 1px solid #c0c0c0;
	border-radius: 10px 10px 0px 0px;
	padding: 0em 0.5em;
}

.idea-header > h3 {
	font-size: 23px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.idea-description {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 4em;
	margin: 0px;
}

.idea-rating {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #ff6584;
	font-size: 26px;
	font-weight: 600;
}

.idea-rating > p {
	margin: 7px 0px;
}

.rating-circles {
	display: flex;
	gap: 20px;
}

.circle-active {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #ffb7c5;
}

.circle-empty {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #d9d9d9;
}

/* Tag and Bookmark */
.idea-extra-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.idea-tag {
	background-color: #9de2ff;
	color: #4487c4;
	padding: 10px;
	border-radius: 10px;
	width: 200px;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 20px;
	margin: 25px 0px;
}

/* Tag Colors */
.technology-tag {
	background-color: #9de2ff;
	color: #4487c4;
	padding: 10px;
	border-radius: 10px;
	width: 200px;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 20px;
	margin: 25px 0px;
}

.news-tag {
	background-color: #ff9df4;
	color: #aa44c4;
	padding: 10px;
	border-radius: 10px;
	width: 200px;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 20px;
	margin: 25px 0px;
}

.environment-tag,
.healthcare-tag {
	background-color: #c2f8c4;
	color: #1fb13f;
	padding: 10px;
	border-radius: 10px;
	width: 200px;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 20px;
	margin: 25px 0px;
}

.travel-tag,
.commerce-tag {
	background-color: #ff8e8e;
	color: #e30000;
	padding: 10px;
	border-radius: 10px;
	width: 200px;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 20px;
	margin: 25px 0px;
}

.education-tag {
	background-color: #f8e5c2;
	color: #b16e1f;
	padding: 10px;
	border-radius: 10px;
	width: 200px;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 20px;
	margin: 25px 0px;
}

.default-tag {
	background-color: #f5f2f2;
	color: #c0c0c0;
	padding: 10px;
	border-radius: 10px;
	width: 200px;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 20px;
	margin: 25px 0px;
}

.idea-extra-info > .bookmark-icon {
	cursor: pointer;
	width: 40px;
	height: 40px;
}

/* Responsive adjustments */
@media (max-width: 410px) {
	.idea-card {
		width: 300px;
	}
	.circle-active,
	.circle-empty {
		width: 20px;
		height: 20px;
	}

	.rating-circles {
		gap: 15px;
	}
}
