.user-idea-container {
  width: 95%;
  margin: 20px;
}

.user-idea-container > h2 {
  font-weight: 400;
}


.idea-card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 10px;
  outline: 4px solid coral;
  gap: 30px;
}

