.user-idea-container {
  width: 95%;
  margin: 20px auto;
  /* margin: auto; */
}

.user-idea-container > h2 {
  font-weight: 400;
}


.idea-card-container {
  justify-content: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  outline: 4px solid coral;
  gap: 30px;
}
