.mini-navbar {
    display: flex;
    outline: 1px solid black;
    justify-content: space-between;
    width: 95%;
    margin: auto;

}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .dropdown p:hover {background-color: #ddd;}

  .show {display: block;}
  

.idea-card-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 10px;
  outline: 4px solid coral;
  gap: 30px;
  max-width: fit-content;
  /* justify-content: space-evenly; */
}

