.project-main-container {
    background-color: #F5F2F2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-page-container {
    outline: 2px solid black;
    width: 80%;
    border-radius: 10px;
    background-color: white;
}

.project-header {
    padding: 1em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.project-header > h2 {
    font-size: 40px;
    font-weight: 400;
    margin: 20px 0px;
}

.project-add {
    padding: 8px 16px;
    background-color: #FF6584;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin: auto 0 auto auto;
}
.project-add:hover {
    background-color: #e55672;
}

.project-row, .project-row-info {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-areas:
    "index content delete";
    padding: 0em 1em;
    align-items: center;

}

.project-index { grid-area: index;}
.project-title {grid-area: content;}

/* Container for all user projects */
.user-project-container {
    max-height: 600px;
    overflow-y: auto;
}


/* Adding a new project */
.new-project-info {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 2em 1em 1em 1em;
}

.new-project-info > input {
    padding: 1em;
    width: 60%;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid black;
}

.new-project-info > input:hover {
    border: 1px solid black;
}

.new-project-info > input:active {
    border: 1px solid black !important;
}

.project-row:hover {
    background-color: #F5F2F2;
}

.new-project-info > button {
    padding: 8px 16px;
    background-color: #FF6584;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 250px;
    height: 50px;
    font-size: 20px;
    margin: auto 0 auto auto;

}

.project-divider {
    width: 100%;
}

.project-delete:hover {
    content: url('../../assets/svg/delete_active_icon.svg'); /* Change the icon on hover */
    height: 50px;
    width: 50px;
}