.create-post-form {
    margin: 30px 0px;
    width: 100%;
    outline: 1px solid #C0C0C0;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.create-post-form-content {
    width: 95%;
    margin: auto;
    /* outline: 2px solid coral; */
    box-sizing: border-box;
}

.create-post-footer {
    outline: 1px solid #C0C0C0;
    background-color: #F5F2F2;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.create-post-footer > button {
    width: 150px;
    font-size: 20px;
    border: 1px solid #FF6584;
    background-color: white;
    border-radius: 10px;
    padding: 0.5em 1em;
    color: #FF6584;
}

.create-post-footer > button:hover {
    width: 150px;
    font-size: 20px;
    border: 1px solid #FF6584;
    background-color: #FF6584;
    border-radius: 10px;
    padding: 0.5em 1em;
    color: white;
}


.create-post-form-content > input {
    width: 100%;
    box-sizing: border-box;
    font-size: 40px;
    border: none;
    margin: 1em 0em 0em 0em;
    border-radius: 10px;
}


.create-post-form-content > textarea {
    min-width: 100%;
    max-width: 100%;
    height: 500px;
    max-height: 1000px;
    box-sizing: border-box;
    font-size: 20px;
    border: none;
    padding: 1em;
    resize: none;
    border-radius: 10px;
}


.create-post-form-content > textarea:hover, .create-post-form-content > input:hover {
    outline: 2px solid #FF6584;
}

.create-post-form-content > textarea:focus {
    outline: 2px solid #FF6584;
}

.create-post-form-content > hr {
    margin: 1em;
}