.community-page-container {
    width: 95%;
    margin: auto;
}

.community-page-container > h2 {
    font-weight: 400;
}

.mini-navbar {
    margin-top: 30px;
    background-color:#FF6584;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 600;
}


.dropdown-view {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-icon {
    width: 30px;
    height: 30px;
}

.dropdown-user-view {
    display: flex;
}

.pseudo-navbar {
    background-color: #FF6584;
    margin: 15px;
    padding: 0.5em;
    border-radius: 10px;
}

.community-dropbtn {
    background-color: #FF6584;
    color: white;
    padding: 10px 10px 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 230px;
    text-align: start;
    font-size: 20px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.community-dropbtn:hover, .community-dropbtn:focus {
    background-color: #FF6584;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.mini-navbar > p {
    margin: 10px;
}


.community-dropdown-content {
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color: #FF6584;
    width: 230px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 10px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.community-dropdown-content > p {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    /* background-color: #F04164; */
}

.community-dropdown-content > p:hover {background-color: #F04164 !important;}

.show {
    display: block;
}

.mini-navbar > p {
    margin-right: 20px;
}

@media screen and (max-width: 450px) {
    .community-dropbtn {
        width: 160px;
        font-size: 16px;
    }
    #myDropdown {
        width: 160px;
    }

    .dropdown-icon {
        width: 20px;
        height: 20px;
    }
}