/* Universal Styles (For All Screens) */
.register-page {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #aca7ff;
}

.register-container {
	background-color: white;
	display: flex;
	align-items: center;
	border-radius: 20px;
}

.register-image {
	width: 563px;
	height: 402px;
	margin: auto;
	padding: 0em 2em;
}

/* Clerk Style Modifications */
.cl-internal-2iusy0 > svg {
	height: 10px !important;
	width: 10px !important;
}

.cl-internal-1r7rnyr > svg {
	height: 20px !important;
	width: 20px !important;
}

/* Desktop View (1051+) Styles */
@media screen and (max-width: 1050px) {
	.register-image {
		width: 400px;
		height: 291.4px;
		margin: auto;
		padding: 0em 2em;
	}
	
}

/* Larger Screens (Laptop/Tablet) Styles */
@media screen and (max-width: 880px) {
	.register-container {
		flex-direction: column;
		height: 90%;
		overflow: scroll;
		scroll-behavior: smooth;
		width: auto;
	}

	.register-image {
		width: 300px;
		height: 218.55px;
		margin: 4em 0em;
		padding: 2em;
		
	}
}

/* Phone Screen Styles */
@media screen and (max-width: 480px) {
	.register-image {
		margin: 3em auto;
		height: 182.12px;
		width: 250px;
	}
}

@media screen and (max-width: 360px) {
	.register-image {
		height: 152.98px;
		width: 210px;
	}
}